<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
	<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/ems</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root</property>
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.show_sql">true</property>
		<mapping class="org.ems.domain.Groupaccess" />
		<mapping class="org.ems.domain.Groupmaster" />
		<mapping class="org.ems.domain.Leavetype" />
		<mapping class="org.ems.domain.Organization" />
		<mapping class="org.ems.domain.Organizationdetails" />
		<mapping class="org.ems.domain.Screen" />
		<mapping class="org.ems.domain.Usergroup" />
		<mapping class="org.ems.domain.Userhierlevel" />
		<mapping class="org.ems.domain.Userhiervalue" />
		<mapping class="org.ems.domain.Userprofile" />
		<mapping class="org.ems.domain.Workapprovaldetails" />
		<mapping class="org.ems.domain.Workbasketdetails" />			
		</session-factory>
</hibernate-configuration>
