<div>
    <br/>
    <table ng-repeat="emp in employees" class="table-bordered">   
            <tr> 
                <td>First Name</td>
                <td><input type="text" value ={{emp.firstName}}></td>
            </tr>
            <tr> 
                <td>Last Name</td>
                <td><input type="text" value ={{emp.lastName}}></td>
            </tr>
            <tr> 
                <td>Land line No</td>
                <td><input type="text" value ={{emp.landlineNum}}></td>
            </tr>        
     </table>    
</div>