<div>
    <br/>
    <table ng-repeat="emp in employees">   
            <tr> 
                <td>First Name</td>
                <td><input type="text" value ={{emp.firstName}} class="userFormInput"></td>
            </tr>
            <tr> 
                <td>Last Name</td>
                <td><input type="text" value ={{emp.lastName}} class="userFormInput"></td>
            </tr>
            <tr> 
                <td>Land line No</td>
                <td><input type="text" value ={{emp.landlineNum}} class="userFormInput"></td>
            </tr>         
     </table>    
</div>