body.basecolor {
	background-color: #F2F2F2;
	font-family: Segoe UI;
	font-weight: 150;
}

div.container {
	width: 90%;
	margin: 0 auto;
	background-color: #ffffff;
}

header, footer {
	padding: 1em;
	color: white;
	background-color: #f2a560;
	clear: left;
	text-align: center;
}

nav {
	float: left;
	width: 20%;
	border-right: 2px solid #F2F2F2;
}

nav ul {
	list-style-type: none;
	margin-top: 30px;
	padding-top: 30px;
}

nav ul a {
	text-decoration: none;
	color: #7aa7ef;
}

li {
	padding: 5px;
}

td {
	padding: 6px;
	font-size: 12px;
	min-width: 16px;
	text-align: center;
}

td.publicholiday {
	color: #ffffff;
	background-color: #4CAF50;
}

td.schoolholiday {
	color: #ffffff;
	background-color: #4CAFD1
}

span.pubholidaysquare {
	height: 15px;
	background-color: #4CAF50;
	display: block;
}

span.schholidaysquare {
	height: 15px;
	background-color: #4CAFD1;
	display: block;
}

div.fluidfloat {
	margin-left: 170px;
	padding: 1em;
	overflow: hidden;
	margin-bottom: 15%;
}

h1 {
	font-weight: 100;
}

table {
	border-collapse: collapse;
	display: inline-block;
}

div.centerdiv {
	text-align: center;
}

div.headerright {
	float: left;
	width: 20%;
	diplay: flex;
}

img.logo {
	height: 75px;
}

.userFormInput {
	width: 146%;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 6px;
}

.userFormInput1 {
	width: 105%;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 6px;
}

.calenderField {
	width: 100%;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 6px;
	display: inline-block;
}

.buttonType {
	width: 90%;
}

.muted {
	background-color: #F2F2F2
}

.sameLine {
	display: inline-block;
	width: 100px;
}

.center {
	margin: auto;
	width: 35%;
	border: 3px solid #f2a560;
	padding: 20px;
	margin-bottom: 35px;
}

.form-group-custom {
	margin: 20px;
	text-align: center;
}

.loginHeader {
	margin: auto;
	margin-top: 20px;
	width: 35%;
	text-align: center;
	background-color: #f2a560;
	margin-top: 35px;
	padding: 15px;
	font-size:20px;
	color:white;
}